{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}<b>Tagger</b>{{/text.headline}}
      {{#text.subhead}}<h2>Filename -> Tags</h2>{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#if paths}}
      <span style="font-size: 1.05rem">Selected paths:</span>
      <ul>
        {{#each paths as |path|}}
          <li>{{path}}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/card.content}}
  {{#card.actions class="layout-column layout-align-space-between"}}
    <div style="padding-left: 1em">{{#paper-button onClick=(action "onChooseFolderButtonClick") primary=true
                                                   raised=true}}
      choose folder  {{paper-icon "folder-open"}}
    {{/paper-button}}</div>

    <div style="margin-left: 1em; margin-top: 1.3em">{{#paper-button onClick=(action "onTagButtonClick") primary=true
                                                                     raised=true disabled=(not paths)}}
      tag files  {{paper-icon "edit"}}
    {{/paper-button}}</div>
  {{/card.actions}}
{{/paper-card}}

{{#if showFinishDialog}}
  {{#md-dialog
    label="Finished"
    cancelLabel="close"
    hideConfirmButton=true
    onClose=(action "closeFinishDialog")}}
    <p>Files tagged: <b>{{filesTaggedAndMoved}}</b></p>
  {{/md-dialog}}
{{/if}}